:root {
  --card-base-spacing: 22px;
}

.top-row {
  flex-wrap: nowrap;
}

#completed-aces {
  min-height: 120px;
}

#completed-aces .ace-marker {
  pointer-events: none;
}

.tableau {
  grid-template-columns: repeat(10, minmax(var(--card-width), 1fr));
}
